
img {
        height: 200PX;
        width: 200 px;
}


.font{
    font-family: 'Courier New', Courier, monospace;
}


#align{
    margin:0
}



html{
    background-color:#FFF0E0
}
/* testing commit */
/*test*/
