
img {
        height: 200PX;
        width: 200px;
}


.font{
    font-family: 'Courier New', Courier, monospace;
}

.intro{
    margin:5px
}



html{
    background-color:#FFF0E0
}





 .la{
   margin-left:27px; 
} 


.footer {
      
      text-align: center;
      padding: 10px;
    }

.footer {
  display: flex;
  justify-content: center;  
  gap: 15px;                
  padding: 10px;
}
